.header  {
    background-color: #9683ea;
    color: white;
    padding: 10px 20px;
    

  }
  *{
   margin: 0;
   padding: 0;
  
  }
  .Container h1 {
    
    color: rgb(3, 2, 2);
    padding: 10px 20px;
    border-radius: 109px;
  }
  .header nav ul {
    list-style-type: none;
    display: flex;
    margin: 0 29px;
   
  }
  
  .header nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 6px;
    font-size: 22px;
  }
  
  .header nav a:hover {
    color: #ffeb3b;
    background-color: red;
    border-radius: 5px;
  }
  
  
  
  .logo {
    height: 40px; 
   margin-right: 55%; 
   
    
  }
  